@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

body,
button {
  font-family: 'Lato', sans-serif;
}

//------------------------------------------
//                Headings                 |
//------------------------------------------
h1 {
  font-size: $section-heading;
  font-weight: 800;
}

h2 {
  font-size: $section-heading-1;
  font-weight: 800;
}

h3 {
  font-size: $content-heading;
  font-weight: 800;
}

//------------------------------------------
//                Sub-Headings             |
//------------------------------------------

//------------------------------------------
//                Content                  |
//------------------------------------------

//------------------------------------------
//                font-weight              |
//------------------------------------------
