//------------------------------------------
//                Colors                   |
//------------------------------------------
$black: #100f0f;
$white: white;

$lt-grey-1: #c7c7c7;
$lt-grey-2: #e9e9e9;
$lt-grey-3: #f3f3f3;

//------------------------------------------
//                Fonts                    |
//------------------------------------------
$section-heading: 2rem;
$section-heading-1: 1.4rem;
$content-heading: 1.2rem;
